@import "tailwindcss/base";
/* @import "./custom-base-styles.css"; */

@import "tailwindcss/components";
/* @import "./custom-components.css"; */

@import "tailwindcss/utilities";
/* @import "./custom-utilities.css"; */

@font-face {
  font-family: "Rushford Printed";
  src: url("/fonts/rushford-printed-font/RushfordPrinted-MVnDe.otf");
}

@font-face {
  font-family: "Brandink Sans";
  src: url("/fonts/brandink-sans-font/BrandinkSans-rgOpA.otf");
}

html {
  background-color: theme("colors.background");
  font-family: "Brandink Sans", sans-serif;
}

.header {
  font-family: "Rushford Printed", sans-serif;
  color: white;
  font-weight: 100;
}

.border {
  border: 3px solid theme("colors.border");
  border-radius: 0.5rem;
}

.menu:hover {
  background-color: theme("colors.foreground");
}

.font-general {
  font-family: "Brandink Sans", sans-serif;
}

.font-rushford {
  font-family: "Rushford Printed", sans-serif;
  line-height: 1.2;
}

.text-emoji-color {
  color: theme("colors.emojiColor");
}
